# Backend local environment
# Copy this file to .env and fill your real values

MONGO_URI=
JWT_SECRET=
ADMIN_SETUP_CODE=
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
OPENAI_API_KEY=
PORT=10001
